# env & keys
.env*
*.pem
*.crt
*.key

# logs
*.log
logs/
.pm2/

# node / build
node_modules/
dist/
build/
.next/
.turbo/

# hardhat
contracts/cache/
contracts/artifacts/

# frontend
frontend/.next/
frontend/out/

# backend common
backend/dist/
backend/build/

# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
